In [14]:
from sklearn import datasets as ds
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import numpy as np
import pandas as pd

import sklearn.datasets
import sklearn.cluster
from sklearn.model_selection import GridSearchCV

#
# Load IRIS dataset
#
iris = ds.load_iris()
X = iris.data
y = iris.target
#
# Instantiate the KMeans models
#
km = KMeans(n_clusters=3, random_state=1)
#
# Fit the KMeans model
#
km.fit_predict(X)
#
# Calculate Silhoutte Score
#
score = silhouette_score(X, km.labels_, metric='euclidean')
#
# Print the score
#
print('Silhouetter Score: %.3f' % score)

Silhouetter Score: 0.553

In [15]:
score = silhouette_score(X, km.labels_, metric='euclidean')

In [16]:
score

0.5528190123564095

In [17]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [22]:
import pandas as pd
data1=pd.DataFrame(np.c_[iris['data'],iris['target']],
                        columns = iris['feature_names'] + ['Species'])

In [23]:
data1.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [24]:
data1['Species'].value_counts()

0.0    50
1.0    50
2.0    50
Name: Species, dtype: int64

In [4]:
my_string = "How many fruits do you have in your fruit basket?"
my_string.count(" basket fruit")

0

In [23]:
for movie in movies:
      # Find if actor occurrs between 37 and 41 inclusive
    if movie.find("actor") == -1:
        print("Word not found")
    # Count occurrences and replace two by one
    elif movie.count("actor") == 2:  
        print(movie.replace("actor actor", "actor 2"))
    else:
        # Replace three occurrences by one
        print(movie.replace("actor actor actor", "actor"))

actor 2
actor
Word not found
Word not found
actor
actor
Word not found
Word not found
actor
actor
Word not found
Word not found
actor
actor
Word not found
Word not found
actor
actor
Word not found
Word not found
actor
actor
Word not found
Word not found
actor
actor
Word not found
Word not found
actor
actor
Word not found
Word not found

In [18]:
movies=["actor actor","actor",'vector','sector','actor','actor','vector','sector','actor','actor','vector','sector','actor','actor','vector','sector','actor','actor','vector','sector','actor','actor','vector','sector','actor','actor','vector','sector','actor','actor','vector','sector']

In [21]:
movies

['actor actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector',
 'actor',
 'actor',
 'vector',
 'sector']